#container {
    margin: 50px auto;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.box {
    width: 150px;
    border: 1px solid black;
}

.btn_box {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active{
    border: 1px solid black;
}